.bgHome{
  background-color: #fa807247;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-bottom: 60px;

} 

.container .card {
  position: relative;
  min-width: 320px;
  height: 340px;
  box-shadow: inset 5px 5px 5px rgba(246, 161, 152, 0.523),
    inset -5px -5px 15px rgba(252, 220, 116, 0.1),
    5px 5px 15px rgba(240, 171, 9, 0.3), -5px -5px 15px rgb(253, 169, 143);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
    color: #000;
}

.container .card .box1 {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2196f3;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.container .card .box2 {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #e91e63;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.container .card .box1:hover {
  transform: translateY(-50px);
}
.container .card .box1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
}


.container .card .box2:hover {
  transform: translateY(-50px);
}
.container .card .box2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
}

body .container .card .box1 .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

body .container .card .box2 .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

body .container .card .box2 .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}