.customStyles {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    height: 200px;
    /* transform: translate(120%,120%); */
    border-radius: 15px;
    height: 220px;
    width: 30%;
    background-color: #FA8072;
    box-shadow: 1px 2px 9px #e54f3e;
    min-width: 400px;
}

.btAdd {
    justify-content: center;
    box-shadow: 1px 2px 9px #efc1bc;
    background-color: #FA8072;
    border-radius: 5px;
    width: 100px;
    margin-bottom: 30px;
    height: 30px;
}

 h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-right: 30px;
}

.fromInput{
    font-size: 18px;
    flex-flow: wrap;
}