.customStyles {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: #ff8066;
    height: 320px;
    width: 60%;
    padding: 1.2rem;
    border-radius: 30px;
    box-shadow: 1px 2px 20px #f4aab9;
    min-height: 320px;

}

.textMenuModal h2 {
    margin-top: 10px;
}

.textMenuModal input {
    font-size: 18px;
    align-items: center;
    
}

.textMenu {
    margin-top: -15px;
}