.customStylesMenuModal {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: #ff8066;
    min-height:35%;
    
    width: 60%;
    padding: 1.2rem;
    border-radius: 30px;
    box-shadow: 1px 2px 20px #f4aab9;
    min-height: 320px; 
    border: 7px solid #ffffff;
}
.boxMenuModal {
    background-color: #ffffff;
    height: 320px;
    border-radius: 15px;
    margin-top: 20px;



}

.textMenuModal h2 {
    margin-top: 10px;
}

.textMenuModal input {
    font-size: 18px;
    align-items: center;
    
}

.textMenu {
    margin-top: -15px;
}



.iconMenuModal{
    padding: auto;
    background-color: #fff;
    border-radius: 50%;
}

.task-inp ,.roundedbox{
    border:3px solid #FA8072;
    border-radius: 5px;
    padding: 3px;
}

.btsumit {
    width: 100px;
    height: 35px;
    margin-top: 20px;
}

h2.textHostMenu{
    background-color: #fff;
    
    margin:  0 40%;
    line-height:150%;
    border-radius: 30px;
}