.bgManage {
    background-color: #fa807247;
    padding: 50px 0 15px 0;
    height: fit-content;
    min-height: 150vh;

}
/* .cardoutManage{
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 20px;
    
} */

.textCardManage{
    background-color: #ff8066;
    height: fit-content;
    width: 65%;
    padding: 10px;
}
.textCardManage h4 {

    align-items: center;
    font-size: 18px;
    width: 100%;
    height: auto;
    padding: 2px;
    background-color: white;
}

.CardMH{
    background-color: aqua;
    width: 60%;
}  


.cardManage{
    display: flex;
    gap: 20px;
}

.inputManage{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

.btnSubmitManageS:hover {
    background-color: rgb(85, 230, 37);
}

.btnSubmitManageD:hover {
    background-color: rgb(255, 8, 8);
}

.btnSubmitMS,
.btnSubmitMD {
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color:#000
}

@media (max-width:400px) {
    .cardoutManage {
        width: 90vw;
    }

    .inputManage {
        flex-direction: row;
    }
}


@media (max-width:300px) {
    .cardoutManage {
        width: 90vw;
    }

    .inputManage {
        flex-direction: column;
    }
}
