.bgVisitHost{
    background-color: #fa807247;
    padding: 50px 0 15px 0;
    height: fit-content;
    min-height: 150vh;
}  

.cardoutVisit{
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.textCardOutVisit{
    background-color: #ff8066;
    height: fit-content;
    width: 90%;
    padding: 10px;

}
.textCardOutVisit h4{
    align-items: center;
    font-size: 18px;
    width: 32%;
    height: auto;
    padding: 5px;
    background-color: white;
}

.cardCover{
    
}

.textCardIn input{
    font-size: 16px;
    width: 32%;
    height: 30px;
}

.inputMerge{
    display: flex;
    flex-direction: column;
}
.submitVisit{
    font-size: 18px;
    width: 10%;
    align-content:center ;
}

.btnSubmitVisitS:hover{
    background-color: rgb(85, 230, 37);
}
.btnSubmitVisitD:hover{
    background-color: rgb(255, 8, 8);
}

.btnSubmitVisitS, .btnSubmitVisitD{
    background-color: white;
    margin-top: 5px;
    font-size: 16px;
    padding: 5px 20px 5px 20px;
}


@media (max-width:400px) {
    .cardoutVisit{
        width: 90vw;
    }
    .inputMerge{
        flex-direction: row;
    }
}