.bgVisitHost {
    background-color: #FEE8DB;
    padding: 50px 0 15px 0;
    height: fit-content;
    min-height: 150vh;
}

.cardoutVisit {
    height: fit-content;
    width: 60%;
    min-height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: #FFF;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(8, 7, 16, 0.6);
}
.Cardtest{
    background-color: #ffbf00;
}


.textCardOutVisit {
    background-color: #ff8066;
    height: fit-content;
    width: 100%;
    padding: 10px;

}

.textCardOutVisit h4 {
    align-items: center;
    font-size: 18px;
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: white;
}

.textCardIn input {
    font-size: 16px;
    width: 100%;
    height: 30px;
}

.cardCover {
    display: flex;
    gap: 15px;
}

.inputMerge {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

.submitVisit {
    font-size: 18px;
    width: 10%;
    align-content: center;
}

.btdevisit{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #ffbf00;
    padding: 0.5rem;
    margin: 10px;
    border-radius: 6px;
    text-decoration: none;
    width: 75px;
    color: rgb(255, 255, 255);
    
}

.btdevisit:hover {
    background-color: rgb(255, 8, 8);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    color: #fff;
    transform: translateY(-7px);

}




.btnSubmitVisitS:hover {
    background-color: rgb(85, 230, 37);
}

.btnSubmitVisitD:hover {
    background-color: rgb(255, 8, 8);
}

.btnSubmitVisitS,
.btnSubmitVisitD {
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color:#000
}

.IconAddVi {
    background-color: white;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 27px;

    padding: 1px 15px 1px 15px;
}

@media (max-width:400px) {
    .cardoutVisit {
        width: 90vw;
    }

    .inputMerge {
        flex-direction: row;
    }
}


@media (max-width:300px) {
    .cardoutVisit {
        width: 90vw;
    }

    .inputMerge {
        flex-direction: column;
    }
}
.ccc{
    width: 80%;
}